.reg{
    padding: 20px;
}
.account-img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .landing{
      margin-top: 2%;
  }
  .blog-img{
    height: 80px;
    width: 80px;
    
    margin-bottom: 16px;
  }
  #usern{
      margin-left: 20px;
  }
  #form,#profileupdate{
      display: none;
  }
  .cardquote{
      background-color:rgba(116, 116, 116, 0.786);
      padding: 3%;
  }
  #submit{
      background-color: green;
      border-radius: 5px;
  }
  #profbutton,#ref,#subs{
    border-radius: 5px;  
  }
  .navbarbg{
      background-color: #315B96;
  }
  body{
    color: rgb(158, 17, 17);
    background-attachment: fixed;
    background-image: url(https://images7.alphacoders.com/334/334533.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: 'Prompt', sans-serif;  
  }
  .bg{
      background-color: rgba(255, 255, 255, 0.924);
      padding: 4px;
      color: black;
      border-radius: 6px;
  }
  h1,h4{
    font-family: 'El Messiri', sans-serif;
  }
  .black{
      color: black;
  }
#modalComment{
    border-radius: 5px;
}
.singleblog{
    background-color: rgba(255, 255, 255, 0.924);  
    color: black;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.navbar-custom {
    background-color: rgb(158, 17, 17);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff81;
} 